---
import Layout from "../layouts/Layout.astro";

import { Image } from "astro:assets";
---

<Layout title="Yum On The Go">
  <main class="w-full h-screen">
    <div class="w-full h-screen flex justify-center items-center gap-8">
      <div class="rounded-full h-fit w-fit flex items-center justify-center">
        <Image
          alt="Principal Image"
          width={400}
          height={400}
          src="/image/ON THE GO.png"
        />
      </div>
      <div class="w-2/4 text-center flex justify-center flex-col">
        <h2 class="text-7xl uppercase text-black font-semibold">
          Yum on the go
        </h2>
        <span class="uppercase text-black font-light text-4xl"
          >Snacks and cocktails</span
        >
      </div>
    </div>
    <div
      class="border-t-2 border-solid w-full h-2/4 flex flex-row items-center justify-center"
    >
      <div class="w-3/4 h-40 flex flex-col gap-2 justify-center items-center">
        <h2 class="uppercase text-4xl text-center">yum on the go</h2>
        <span class="text-center text-xl w-3/4"
          >Somos una startup de esfuerzo joven, comprometida en alcanzar la
          cúspide de la gastronomía. Nuestra misión es revolucionar el mercado
          de la comida rápida y los eventos, ofreciendo carritos de comida tanto
          físicos como para eventos. Imagina un evento sin las limitaciones
          tradicionales de la comida. Nosotros nos encargamos de que eso no
          suceda</span
        >
      </div>
      <div class="w-1/4">
        <Image alt="next" width={350} height={350} src="/image/foodcart.jpg" />
      </div>
    </div>
    <div
      class="border-t-2 border-solid w-full h-2/4 flex flex-col items-center justify-center gap-3"
    >
      <h2 class="uppercase text-3xl text-center pt-5 w-full h-20">
        Propuesta de valor
      </h2>
      <div class="flex justify-center items-start space-x-8 pt-3">
        <div class="w-1/5 flex flex-col justify-center items-center">
          <div class="mb-4">
            <Image
              alt="Varie"
              width={100}
              height={100}
              src="/image/fruits.png"
            />
          </div>
          <h2 class="text-xl font-medium mb-2">Variedad y Calidad</h2>
          <span class="text-justify">
            Ofrecemos una amplia gama de opciones gastronómicas, desde churritos
            crujientes hasta bocadillos gourmet, adaptándonos a los gustos y
            necesidades de cada evento.
          </span>
        </div>

        <div class="w-1/5 flex flex-col justify-center items-center">
          <div class="mb-4">
            <Image
              alt="Comodidad"
              width={100}
              height={100}
              src="/image/provision.png"
            />
          </div>
          <h2 class="text-xl font-medium mb-2">Flexibilidad y Comodidad</h2>
          <span class="text-justify">
            Disponemos de carritos de comida móviles que pueden instalarse en
            cualquier tipo de evento, ya sean bodas, cumpleaños, ferias o
            eventos corporativos.
          </span>
        </div>

        <div class="w-1/5 flex flex-col justify-center items-center">
          <div class="mb-4">
            <Image
              alt="Popularidad"
              width={100}
              height={100}
              src="/image/accommodation.png"
            />
          </div>
          <h2 class="text-xl font-medium mb-2">Popularización y Presencia</h2>
          <span class="text-justify">
            Queremos que nuestros carritos de comida se conviertan en un
            elemento esencial en cualquier evento.
          </span>
        </div>

        <div class="w-1/5 flex flex-col justify-center items-center">
          <div class="mb-4">
            <Image
              alt="Innovación"
              width={100}
              height={100}
              src="/image/innovation.png"
            />
          </div>
          <h2 class="text-xl font-medium mb-2">Innovación y Sostenibilidad</h2>
          <span class="text-justify">
            Incorporamos las últimas tendencias en gastronomía y tecnología para
            ofrecer una experiencia moderna y eficiente.
          </span>
        </div>
      </div>
    </div>
    <div
      class="flex justify-center pt-6 items-start border-solid border-t-2 space-x-8 h-2/4 w-full"
    >
      <div class="w-2/6 flex flex-col justify-center items-center">
        <h2 class="uppercase text-5xl font-medium">Visión</h2>
        <span class="text-justify text-xl mt-4">
          Nuestra visión es llevar la comida callejera a un nivel superior y
          hacer que sea una parte indispensable de cada celebración. Nos
          dedicamos a proporcionar una solución gastronómica práctica, deliciosa
          y memorable, asegurándonos de que nuestros clientes y sus invitados
          disfruten al máximo.
        </span>
      </div>

      <div class="w-2/6 flex flex-col justify-center items-center">
        <h2 class="uppercase text-5xl font-medium">Misión</h2>
        <span class="text-justify text-xl mt-4">
          Nuestra misión es revolucionar el mercado de la comida rápida y los
          eventos, ofreciendo carritos de comida tanto físicos como para
          eventos. Imagina un evento sin las limitaciones tradicionales de la
          comida. Nosotros nos encargamos de que eso no suceda.
        </span>
      </div>
    </div>
  </main>
</Layout>
